<div class="text-white bg-primary-black">
    <div class="relative -mt-24 overflow-hidden">
        <div class="hidden md:block">
            <img src="../../../assets/images/Banner.png" alt="banner" class="scale-110">
        </div>
        <div class="md:hidden">
            <img src="../../../assets/images/BannerMobile.png" alt="mobile" class="">
        </div>
        <div class="absolute inset-0 bg-black bg-opacity-30 pointer-events-none"></div>

        <div class="absolute left-1/2 md:bottom-16 transform -translate-x-1/2 text-white 2xl:w-[82.5rem] xl:w-[72.5rem] lg:w-[60rem] md:w-[45rem] flex flex-col items-center gap-10 w-full bottom-10">
            <!-- RESPONSIVE ADVICE : I should do the mobile one as defualt (recommanded by tailwind) and add the one for the laptop in good order -->
            <div class="lg:text-[5rem] lg:leading-[5rem] md:leading-[3.75rem] font-bold font-cairo md:text-[3.75rem] text-[1.75rem] leading-[1.75rem]">
                NOUVEAU MAILLOT 2025
            </div>
            <div class="font-nippo">
               <a [routerLink]="" class="flex flew-row border border-white cursor-pointer hover:bg-primary-light hover:text-black hover:border-primary-black group transition-all text-sm md:text-base">
                    <div class="py-2 px-6">ACHETER</div>
                    <div class="border-l py-2 px-3 flex items-center group-hover:border-primary-black">
                        <app-right-arrow></app-right-arrow>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-[7.5rem]">Partenaire</div>
</div>
