<div class="bg-primary-black font-cairo text-white">
    <div #container0 class="pt-[1.875rem] w-full flex flex-col items-center" [ngClass]="true ? 'block' : 'hidden'">
        <div class="w-full px-0 md:px-[2.1rem] overflow-hidden max-w-[85.625rem]">
            
            <ul #carousel0 class="flex overflow-hidden h-full w-full relative" (mousemove)="onMouseMove($event)" (touchmove)="onMouseMove($event)" (mousedown)="onMouseDown($event)" (touchstart)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (touchend)="onMouseUp($event)" (mouseleave)="onMouseUp($event)">
                <li *ngFor="let nosProduitImg of nosProduitsImg; let i = index" #firstImg0 class=" relative w-full shrink-0  md:w-[calc(100%/3-2px*25/3)] lg:w-[calc(100%/3-2px*40/3)] transition-translateX ease-in-out duration-300 group/img"   [ngClass]="{
                    'mr-[0px]': i === nosProduitsImg.length - 1,
                    'mr-[0px] md:mr-[25px] lg:mr-[40px]': i !== nosProduitsImg.length - 1,
                    }">
                    <img [src]="nosProduitImg.imgUrl" alt="" class="object-cover w-full cursor-pointer" draggable="false">
                </li>
            </ul>
            <div #firstSlider0 class="h-[0.20rem] bg-gray-600 -mt-1 transition-opacity duration-300" [style.width]="'calc(100% / ' + nosProduitsImg.length + ')'" [style.transform]="'translateX(' + translateValue + 'px)'" [ngClass]="displaySlider ? 'opacity-100' : ' opacity-0'"></div>
        </div>
    </div>
    <app-shop-newsletter class="text-white"></app-shop-newsletter>
</div>

