<div class="mt-[5rem]">
    <div class="flex flex-col w-full gap-[2.5rem] md:flex-row-reverse md:px-[2.1875rem] md:gap-0 mx-auto max-w-[75rem]">
        <div class="w-full md:flex-1">
            <img src="../../../../../assets/images/home.webp" alt="" class="w-full object-cover">
        </div>
        <div class="px-5 flex flex-col items-start md:justify-center md:flex-1">
            <h2 class="uppercase text-[1.875rem] font-cairo font-bold md:leading-[1.875rem] lg:text-[2.5rem] lg:leading-[2.8125rem]">L'équipe qui a créé la différence</h2>
            <p class="mt-[1.5625rem] text-[.875rem] md:leading-[1.5625rem]">La Karmine Corp, s’est rapidement imposée comme leader dans le monde de l’esport en France. Créée fin 2020 par Kameto et Prime, l’équipe vise désormais l’international avec un seul objectif : gagner les championnats du monde sur tous les jeux. (League of Legends, Valorant, Rocket League, TFT, Trackmania et Smash Bros Ultimate)</p>
            <div class="font-nippo mt-[2.5rem]">
                <a [routerLink]="" class="flex flew-row border border-white cursor-pointer hover:bg-primary-light hover:text-black hover:border-primary-black group transition-all text-sm md:text-base">
                     <div class="py-2 px-6 uppercase">découvrir</div>
                     <div class="border-l py-2 px-3 flex items-center group-hover:border-primary-black">
                         <app-right-arrow></app-right-arrow>
                     </div>
                 </a>
             </div>
        </div>
    </div>
</div>
