<div class="mt-[5rem]">
    <div class="flex flex-col items-center text-center px-[1.25rem] font-cairo md:px-0 md:w-[45rem] md:mx-auto lg:w-[60rem]">
        <div class="uppercase font-bold text-[1.5625rem] leading-[1.5625rem] md:text-[2.5rem] md:leading-[2.5rem] lg:text-[2.8125rem] lg:leading-[2.8125rem]">Notre dernière annonce</div>
        <p class="font-[.875rem] mt-[.3125rem] justify-center">Retrouvez toutes les vidéos de Karmine corp sur notre chaine youtube</p>
        <div class="w-full mt-[1.25rem] md:mt-[2.5rem] lg:mt-[3.125rem] h-0 pb-[56.25%] relative">
            <iframe class="absolute left-0 top-0 w-full h-full" src="https://www.youtube.com/embed/VUd1Fx-V0po?si=s8zCuGIj5RnF2lOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>