<header class=" h-24 z-50 w-full sm:px-8 px-4 border-b border-[#4f5264] sticky top-0" [ngClass]="!scrolled ? ['bg-transparent', 'border-none'] : 'bg-primary-black'">
    <nav class="flex justify-between items-center h-full">
        <a routerLink="/">
            <img src="assets/images/Kcorp-logo.svg" alt="Logo" width="60">
        </a>
        <ul class="justify-center items-center gap-10 hidden xl:flex">
            <li *ngFor="let nav of navLink">
                <a [routerLink]="nav.href" class="text-sm font-nippo hover:text-primary-light cursor-pointer" [ngClass]="
                nav.label==='BOUTIQUE' ? 'text-primary-light' : 'text-white'">
                    {{nav.label}}
                </a>
            </li>
        </ul>
        <ul class="flex justify-center items-center gap-4 ">
            <li class="cursor-pointer">
                <a [routerLink]="">
                    <app-search-logo class="w-5"></app-search-logo>
                </a>
            </li>
            <li class="">
                <button class="flex cursor-pointer">
                    <app-heart-logo class="w-5"></app-heart-logo>
                </button>
            </li>
            <li class="hidden xl:block">
                <a [routerLink]="" class="flex cursor-pointer">
                    <app-user-logo class="w-5"></app-user-logo>
                </a>
            </li>
            <li>
                <a [routerLink]="" class="cursor-pointer group">
                    <span class="bg-primary-light w-5 h-5 rounded-full flex items-center justify-center group-hover:bg-[#101e35]">
                        <span class="font-cairo text-xs font-bold group-hover:text-white">{{cartCounter}}</span>
                    </span>
                </a>
            </li>
            <li class="xl:hidden">
                <button class="flex cursor-pointer" (click)="onHamburger()">
                    <img src="../../../assets/images/hamburger.svg" class="w-5" alt="">
                </button>
            </li>
        </ul>
    </nav>
</header>