<header class=" h-24 z-10 w-full sm:px-8 px-4 border-b border-[#4f5264] sticky top-0" [ngClass]="!scrolled ? ['bg-transparent', 'border-none'] : 'bg-[#0d1015]'">
    <nav class="flex justify-between items-center h-full">
        <a routerLink="/">
            <img src="assets/images/Kcorp-logo.svg" alt="Logo" width="60">
        </a>
        <ul class="flex justify-center items-center gap-10 max-xl:hidden">
            <li *ngFor="let nav of navLink">
                <a [routerLink]="nav.href" class="text-sm font-nippo hover:text-primary-light cursor-pointer" [ngClass]="
                nav.label==='BOUTIQUE' ? 'text-primary-light' : 'text-white'">
                    {{nav.label}}
                </a>
            </li>
        </ul>
        <ul class="flex justify-center items-center gap-4 ">
            <li class="cursor-pointer">
                <a [routerLink]="">
                    <app-search-logo class="w-5"></app-search-logo>
                </a>
            </li>
            <li class="cursor-pointer">
                <a [routerLink]="">
                    <app-heart-logo class="w-5"></app-heart-logo>
                </a>
            </li>
            <li class="cursor-pointer">
                <a [routerLink]="">
                    <app-user-logo class="w-5"></app-user-logo>
                </a>
            </li>
            <li>
                <a [routerLink]="" class="cursor-pointer group">
                    <span class="bg-primary-light w-5 h-5 rounded-full flex items-center justify-center group-hover:bg-[#101e35]">
                        <span class="font-cairo text-xs font-bold group-hover:text-white">{{cartCounter}}</span>
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<!-- <header class="padding-x py-8 absolute z-10 w-full">
    <nav class="flex justify-between items-center max-container">
        <a routerLink="/">
            <img src="../../assets/images/header-logo.svg" alt="Logo" width="130" height="29">
        </a>
        <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
            <li *ngFor="let item of navLink">
                <a [routerLink]="[]" fragment="{{item.href}}" class="font-montserrat leading-normal text-lg text-slate-gray">
                    {{item.label}}
                </a>
            </li>
        </ul>
        <div class="hidden max-lg:block">
            <img src="../../assets/icons/hamburger.svg" alt="Hamburger" width="25" height="25">
        </div>
    </nav>
</header> -->
