<div class="bg-primary-black font-cairo text-white">
    <div class="flex flex-col items-center">
        <div class="w-full justify-start pl-[2.1875rem] mt-5 text-[#767992] text-[.75rem] gap-1 hidden max-w-[85.625rem] md:flex">
            <a routerLink="/" class="cursor-pointer">Accueil</a>
            <p>></p>
            <p>Chroma</p>
        </div>
        <div class="flex flex-col items-center">
            <h1 class="uppercase  font-bold text-[1.5625rem] py-[1.875rem]">Chroma</h1>
        </div>
        <div class="max-w-[85.625rem] lg:px-[2.1875rem]">
            
            <div class="flex">
                <div class="sticky top-[8rem] w-[10.3125rem] h-[20rem] hidden lg:block">
                    <div class="uppercase text-[.875rem] font-bold pl-6 md:pl-[2.1875rem] lg:pl-0">4 produits</div> 
                    <div class="bg-primary-black pt-[1.25rem]">
                        <ul class="font-cairo font-bold text-[0.75rem]">
                            <li class="border-[.0625rem] border-[#4f5264]">
                                <button class="flex items-center justify-between w-full py-[.9375rem] px-[.5rem] cursor-pointer" (click)="showFilterSide(0)">
                                    <div class="uppercase">disponibilité</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4 transition-all" [ngClass]="isFilterBySide0 ? 'rotate-180 text-primary-light':'text-white'">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                                <ul class="px-[.5rem] font-normal transition-all duration-200 " [ngClass]="isFilterBySide0 ? 'visible  opacity-100 pb-[.9375rem] max-h-[16.25rem]' : 'invisible max-h-0 opacity-0 pb-0'">
                                    <!-- max height to display moving the height faster than the opacity  -->
                                    <li class="flex gap-1 items-center cursor-pointer">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check').click();">En stock (0)</p>
                                    </li>
                                    <li class="flex gap-1 items-center cursor-pointer mt-[.3rem]">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check2" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check2').click();">En rupture de stock (2)</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="mt-[.625rem] border-[.0625rem] border-[#4f5264]">
                                <button class="flex items-center justify-between w-full pt-[.9375rem] px-[.5rem] cursor-pointer transition-all duration-200" (click)="showFilterSide(1)" [ngClass]="isFilterBySide1 ? 'pb-0' : 'pb-[.9375rem]'">
                                    <div class="uppercase">prix</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4 transition-all" [ngClass]="isFilterBySide1 ? 'rotate-180 text-primary-light':'text-white'">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                                <div class="px-[.5rem] font-normal transition-all duration-200 " [ngClass]="isFilterBySide1 ? 'visible opacity-100 pb-[.9375rem] max-h-[16.25rem]' : 'invisible max-h-0 opacity-0 pb-0'">
                                    <div class="w-full px-1">
                                        <mat-slider min="0" max="70">
                                            <input [(ngModel)]="valueStart" matSliderStartThumb>
                                            <input [(ngModel)]="valueEnd" matSliderEndThumb>
                                        </mat-slider>
                                    </div>
                                    <div class="flex justify-between gap-4">
                                        <div class="flex-1 rounded-sm border-[.0625rem] border-[#4f5264] px-2 py-1 flex gap-2 text-[.75rem] h-8 items-center">
                                            <p class="">€</p>
                                            <input type="text" name="" id="" [(ngModel)]="valueStart" class="flex-1 bg-transparent w-4 focus:outline-none">
                                        </div>
                                        <div class="flex-1 rounded-sm border-[.0625rem] border-[#4f5264] p-2 flex gap-2 h-8 items-center">
                                            <p class="">€</p>
                                            <input type="text" name="" id="" [(ngModel)]="valueEnd" class="flex-1 bg-transparent w-4 focus:outline-none">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-[.625rem] border-[.0625rem] border-[#4f5264]" >
                                <button class="flex items-center justify-between w-full py-[.9375rem] px-[.5rem] cursor-pointer" (click)="showFilterSide(2)">
                                    <div class="uppercase">taille</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4 transition-all" [ngClass]="isFilterBySide2 ? 'rotate-180 text-primary-light':'text-white'">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                                <ul class="px-[.5rem] font-normal transition-all duration-200 " [ngClass]="isFilterBySide2 ? 'visible  opacity-100 pb-[.9375rem] max-h-[16.25rem]' : 'invisible max-h-0 opacity-0 pb-0'">
                                    <!-- max height to display moving the height faster than the opacity  -->
                                    <li class="flex gap-1 items-center cursor-pointer">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check3" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check3').click();">XS (3)</p>
                                    </li>
                                    <li class="flex gap-1 items-center cursor-pointer mt-[.3rem]">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check4" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check4').click();">S (3)</p>
                                    </li>
                                    <li class="flex gap-1 items-center cursor-pointer mt-[.3rem]">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check5" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check5').click();">M (3)</p>
                                    </li>
                                    <li class="flex gap-1 items-center cursor-pointer mt-[.3rem]">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check6" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check6').click();">L (3)</p>
                                    </li>
                                    <li class="flex gap-1 items-center cursor-pointer mt-[.3rem]">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check7" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check7').click();">XL (3)</p>
                                    </li>
                                    <li class="flex gap-1 items-center cursor-pointer mt-[.3rem]">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check8" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check8').click();">2XL (3)</p>
                                    </li>
                                    <li class="flex gap-1 items-center cursor-pointer mt-[.3rem]">
                                        <div class="inline-flex items-center">
                                          <label class="flex items-center relative">
                                            <!-- Checkbox, hidden by default, interacts with the label -->
                                                <input type="checkbox" id="check9" class="peer h-3 w-3 cursor-pointer transition-all appearance-none border-[.0625rem]
                                                border-[#4f5264] checked:bg-primary-black checked:border-primary-light " />
                                                <!-- Custom checkbox style -->
                                                <span class="absolute bg-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform h-[0.45rem] w-[0.45rem] -translate-x-1/2 -translate-y-1/2 pointer-events-none"></span>
                                            </label>
                                        </div>
                                        <p class="cursor-pointer" onclick="document.getElementById('check9').click();">3XL (3)</p>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-1 md:px-[2.1875rem]">
                    <div class="relative hidden lg:block">
                        <button class="flex items-center gap-1 w-full font-cairo font-bold text-sm justify-end" (click)="showFilterTop()">
                            <div class="uppercase tracking-[.0625rem]">trier par</div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4 transition-all" [ngClass]="isFilterByTop ? 'rotate-180' : ''">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </button>
                        <div class="absolute top-[2rem] right-0 w-[10rem] bg-primary-black font-cairo text-white text-[.700rem] border border-[#4f5264] z-[2]"
                        [ngClass]="isFilterByTop ? 'block' : 'hidden'">
                            <ul class="p-[.625rem]">
                                <li class="font-bold">En vedette</li>
                                <li class="mt-[.25rem]">Meilleurs ventes</li>
                                <li class="mt-[.25rem]">de A à Z</li>
                                <li class="mt-[.25rem]">de Z à A</li>
                                <li class="mt-[.25rem]">Prix croissant</li>
                                <li class="mt-[.25rem]">Prix décroissant</li>
                                <li class="mt-[.25rem]">Du plus ancien au plus récent</li>
                                <li class="mt-[.25rem]">Du plus récent au plus ancien</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-x-2 gap-y-4 mt-4 md:gap-x-3 md:grid-cols-3 lg:mt-[1.25rem]">
                        <div *ngFor="let chroma of chromaImg; let i = index" #firstImg0 class=" relative w-full shrink-0 group/img opacity-60 pointer-events-none"   
                            [ngClass]="{
                            'mr-[0px]': i === chromaImg.length - 1,
                            'mr-[10px] md:mr-[25px] lg:mr-[40px]': i !== chromaImg.length - 1,
                            }">
                            <img [src]="chroma.imgUrl" alt="" class="object-cover w-full" draggable="false">
                            <div class="px-[.625rem] py-[.625rem] md:px-4 md:py-4 lg:px-[1.25rem] lg:py-[1.25rem] text-[.75rem] md:text-[1rem] lg:text-[1.25rem] leading-4 md:leading-5 group-hover/img:translate-y-[-2.8125rem] transition-transform duration-200 bg-primary-black">
                                <p class="font-cairo font-bold">{{chroma.title}}</p>
                                <p class="font-cairo mt-1 md:mt-[.375rem]">{{chroma.subtitle}}</p>
                            </div>
                            <div class="absolute left-0 bottom-0 right-0 overflow-hidden">
                                <div class="px-[1.25rem] transform translate-y-full transition-transform duration-200 group-hover/img:translate-y-0 w-full group/btn">
                                    <button class=" font-nippo py-2 bg-primary-light text-primary-black block w-full text-[1rem] group-hover/btn:text-white group-hover/btn:bg-[#101e35] "> AJOUTER AU PANIER</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <app-shop-newsletter class="text-white"></app-shop-newsletter>
</div>

<!-- 

filter bottom

 -->

<div class="fixed left-0 bottom-0 w-full bg-primary-black z-[2000] font-cairo text-white  font-bold text-[.875rem] lg:hidden">
    <div class="flex justify-between py-[.9375rem] px-[1.25rem] border-t-[.0625rem] border-[#4f5264]">
        <button class="uppercase tracking-[.0625rem] w-full text-start h-[1.875rem]">filtres</button>
        <button class="flex items-center gap-1 w-full h-[1.875rem] justify-end" (click)="showFilterBottom()">
            <div class="uppercase tracking-[.0625rem]">trier par</div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4 transition-all" [ngClass]="isFilterByBottom ? 'rotate-180' : ''">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </button>
    </div>
</div>
<div class="fixed right-[1.3rem] bottom-[4.1rem] w-[10rem] bg-primary-black font-cairo text-white text-[.700rem] border border-[#4f5264] z-[2000]"
    [ngClass]="isFilterByBottom ? 'block' : 'hidden'">
    <ul class="p-[.625rem]">
        <li class="font-bold">En vedette</li>
        <li class="mt-[.25rem]">Meilleurs ventes</li>
        <li class="mt-[.25rem]">de A à Z</li>
        <li class="mt-[.25rem]">de Z à A</li>
        <li class="mt-[.25rem]">Prix croissant</li>
        <li class="mt-[.25rem]">Prix décroissant</li>
        <li class="mt-[.25rem]">Du plus ancien au plus récent</li>
        <li class="mt-[.25rem]">Du plus récent au plus ancien</li>
    </ul>
</div>
