<div class="mt-[5rem] md:mt-[6.25rem]">
    <div class="w-full h-[85vw] md:h-[21vw] relative">
        <div class="absolute md:hidden top-0 bottom-0 left-0 right-0 opacity-70">
            <img class="object-cover" src=".../../../../../assets/images/test_fond_4.webp" alt="">
        </div>
        <div class="absolute hidden md:block top-0 bottom-0 left-0 right-0 opacity-70">
            <img class="object-cover" src=".../../../../../assets/images/test_fond_4 (1).webp" alt="">
        </div>
        <div class="w-full h-full font-cairo flex flex-col items-center justify-center relative z-10 ">
            <div class="px-[1.25rem] w-full text-center">
                <div class="uppercase font-bold text-[1.5625rem] md:text-[1.875rem] lg:text-[2.675rem] xl:text-[3.75rem]">notre newsletter</div>
                <p class="text-[.875rem] leading-[1.25rem]">Restez informé(e) de nos nouveautés & offres</p>
                <div class="w-full mt-[1.765rem] md:mt-[1.25rem] flex border border-transparent focus-within:border-primary-light md:w-[28.125rem] md:mx-auto xl:mt-[2.8125rem]">
                    <input class="px-[.6325rem] md:px-[1.25rem] w-full h-[2.8125rem] text-[.875rem] text-primary-black placeholder-primary-black outline-none focus:ring-0" type="text" placeholder="Votre adresse e-mail">
                    <button class="font-nippo w-[2.8125rem] md:w-[3.25rem]  md:text-[1.125rem] bg-white text-black border-l border-primary-light">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
