<div class="mt-20">
    <div class="px-[1.25rem] w-full grid gap-y-3 font-cairo text-[1.5625rem] font-bold md:px-0 md:w-[45rem] md:grid-cols-2 md:gap-6 md:mx-auto md:text-[2.5rem] lg:w-[60rem] lg:text-[2.8125rem]">
        <a href="" class="relative w-full h-0 pb-[72%] order-1 group/1 overflow-hidden">
            <div class="absolute top-0 left-0 right-0 bottom-0 transform group-hover/1:scale-110 transition-transform duration-700 ease-[cubic-bezier(0.645,0.045,0.355,1)]">
                <img src="../../../../../assets/images/BANNER_2.webp" alt="" class=" w-full h-full">
            </div>
            <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30">
                <div class="flex h-full w-full justify-center items-center">
                    <h3 class="">PRO KIT 2025</h3>
                </div>
            </div>
        </a>
        <a href="" class="relative w-full h-0 pb-[115%] order-2 md:order-3 group/2 overflow-hidden">
            <div class="absolute top-0 left-0 right-0 bottom-0 transform group-hover/2:scale-110 transition-transform duration-700 ease-[cubic-bezier(0.645,0.045,0.355,1)]">
                <img src="../../../../../assets/images/porte-cles-mix-bois.webp" alt="" class=" w-full h-full">
            </div>
            <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30">
                <div class="flex h-full w-full justify-center items-center">
                    <h3 class="">ACCESSOIRES</h3>
                </div>
            </div>
        </a>
        <a href="" class="relative w-full h-0 pb-[72%] order-3 md:order-2 group/3 overflow-hidden">
            <div class="absolute top-0 left-0 right-0 bottom-0 transform group-hover/3:scale-110 transition-transform duration-700 ease-[cubic-bezier(0.645,0.045,0.355,1)]">
                <img src="../../../../../assets/images/POLO.webp" alt="" class=" w-full h-full">
            </div>
            <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30">
                <div class="flex h-full w-full justify-center items-center">
                    <h3 class="">CHROMA</h3>
                </div>
            </div>
        </a>
        <a href="" class="relative w-full h-0 pb-[115%] order-4 group/4 overflow-hidden">
            <div class="absolute top-0 left-0 right-0 bottom-0 transform group-hover/4:scale-110 transition-transform duration-700 ease-[cubic-bezier(0.645,0.045,0.355,1)]">
                <img src=".../../../../../assets/images/ESS_BANNER_WEB.webp" alt="" class=" w-full h-full">
            </div>
            <div class="absolute top-0 left-0 right-0 bottom-0 bg-black/30">
                <div class="flex h-full w-full justify-center items-center">
                    <h3 class="">ESSENTIALS</h3>
                </div>
            </div>
        </a>
    </div>
</div>
